.Container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 10px;

    list-style: none;
    background-color: #000;
}

.Container ul {
    display: flex;
    gap: 30px;
    margin-right: 50px;
}

.Container a {
    color: #fff;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.Container a:hover {
    color: rgb(124, 129, 133);
}